@import "tailwindcss";

@theme {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Cormorant Garamond", serif;
    --color-accent: #40E0D0;
    --color-primary: #192737;
    --color-sceondary: #4e5c72;
}