@import "tailwindcss";

@theme {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Cormorant Garamond", serif;
    --color-accent: #F2EFE7;
    --color-primary: #9ACBD0;
    --color-secondary: #006A71;
}